package views

templ template() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}

templ Home() {
	@template() {
		<div>My Homepage</div>
	}
}
